<nav>
        <div class="nav-container">
            <ul class="nav-lista">    
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="assets/screens/menu.html">MENU</a>
                </li>
            </ul>
            <div class="logo">
                <img class="img-logo" src="/assets/img/logo.png" alt="imagen del logo">
            </div>
            <ul class="nav-lista">    
                <li>
                    <a href="/user">REGISTRO</a>
                </li>
                <li>
                    <a href="/user/login">LOGIN</a>
                </li>
            </ul>
        </div>
    </nav>