



    <main>
        <div class="banner">
            <img src="/assets/img/doble.png" alt="banner">
        </div>

        <div class="descripcion-menu">
            <div class="desc-menu-texto">
                <p>
                    Aca va a ir una descripcion general de la carta o menu
                </p>
                <button>Ver carta</button>
            </div>
            <div class="desc-menu-img">
                <img src="/assets/img/doble.png" alt="">
            </div>
        </div>
        <div class="separador">
            <p>#YUMMY</p>
        </div>
        <div class="sobre-nosotros">
            <div class="sobre-nosotros-texto">
                <p>
                    Aca va a ir una introduccion a una descripcion del emprendimiento
                </p>
                <button>Sobre Nosotros</button>
            </div>
            <div class="sobre-nosotros-img">
                <img src="/assets/img/simple.jpg" alt="">
            </div>
        </div>
    </main>